#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-container h1 {
  margin-bottom: 2rem;
}

.chart-container {
  width: 100%;
  max-width: 900px;
  height: 500px;
  margin: 0 auto;
}
